#Header {
  display: flex;
  align-items: center;
  background-color: #222;
  height: 50px;
  padding: 0 10px;
  color: white;
  flex-shrink: 0;
}

.Header-left,
.Header-right {
  min-width: 225px;
  display: flex;
  flex: 1 0 0;
  align-items: center;
}

.Header-right {
  justify-content: flex-end;
}

.Header-right > * {
  margin-left: 10px;
}

.Header-center {
  flex-grow: 4;
}

.Header-text {
  text-transform: uppercase;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none !important;
}
