#Header {
  display: flex;
  align-items: center;
  background-color: #222;
  padding: 10px;
  color: white;
  flex-shrink: 0;
}

.Header-left, .Header-right {
  display: flex;
  flex: 1 0 0;
  align-items: center;
}

.Header-right {
  justify-content: flex-end;
}

.Header-right > * {
  margin-left: 10px;
}

.Header-center {
  flex-grow: 4;
}