#Home {
  flex-grow: 1;
}

#Home.body-hidden {
  overflow-y: hidden;
}

.Home-header {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  transition-duration: 0.5s;
  background-position: center;
}

#Home.body-hidden .Home-header {
  height: calc(100vh - 50px);
}

.Home-body {
  background: #e0e0e0;
  display: flex;
}

.Home-toggle {
  height: 16px;
}
