#Home {
  height: 100%;
  flex-grow: 1;
  overflow-y: hidden;
}

.Home-header {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  transition-duration: .5s;
}

.Home-header.body-hidden {
  height: 100%;
}

.Home-body {
  background: #e0e0e0;
  height: 100%;
  display: flex;
}

.Home-body.body-hidden {
}
