.Button {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  border-radius: 0;
  border: 0;
}

.Button:hover {
  background: #e6e6e6;
}

.Button:active {
  background: #d6d6d6;
}

.Button.dark {
  background: #666;
  color: #eee;
}

.Button.dark:hover {
  background: #707070;
}

.Button.dark:active {
  background: #808080;
}