.FlatButton {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  border-radius: 0;
  border: 0;
}

.FlatButton:hover {
  background: #e0e0e0;
}

.FlatButton:active {
  background: #d0d0d0;
}