.NavLink {
  text-decoration: none;
  background: #f0f0f0;
  border-bottom: 2px solid transparent;
  color: black;
}

.NavLink:hover {
  background: #e6e6e6;
}

.NavLink:active {
  background: #d6d6d6;
  color: black;
}

.NavLink.NavLink-active {
  border-bottom: 2px solid blue;
  font-weight: 600;
  /*text-decoration: underline;*/
}