.NavLink {
  text-decoration: none;
  background: #f6f6f6;
  border-bottom: 2px solid transparent;
  color: black;
}

.NavLink:hover {
  border-bottom: 2px solid #e0e0e0;
}

.NavLink:active {
  border-bottom: 2px solid #d0d0d0;
}

.NavLink.NavLink-active {
  border-bottom: 2px solid #66c0f6;
  font-weight: 600;
}

.NavLink.disabled {
  border-bottom: 2px solid transparent;
  color: #808080;
  cursor: not-allowed;
}
