.Panel {
  background: #fff;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 20px 40px;
}

@media (max-width: 768px) {
  .Panel {
    padding: 20px;
  }
}

.Panel.with-nav {
  padding: 0;
}
