#clock {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  position: relative;
}

#clock .clock-time {
  width: 240px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
}

#clock .clock-message {
  transition-duration: .5s;
}

#clock.large .clock-time {
  width: 440px;
}

#clock.large .clock-message {
  font-size: 144px;
}