.ProgressBar-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #c0ffc0;
  z-index: -2;
}

.ProgressBar {
  position: absolute;
  background: white;
  z-index: -1;
  transition-duration: .25s;
}

.ProgressBar.horizontal {
  height: 100%;
}

.ProgressBar.vertical {
  width: 100%;
}

.ProgressBar-wrapper.red {
  background: #ffc0c0;
}
