.ProgressBar {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #80ff80;
  opacity: 0.5;
  transition-duration: 0.25s;
}

.ProgressBar.red {
  background: #ff8080;
}

.ProgressBar.horizontal {
  height: 100%;
}

.ProgressBar.vertical {
  width: 100%;
}
